.u-section-1 {
	background-image: none;
  }
  
  .u-section-1 .u-sheet-1 {
	min-height: 1292px;
  }
  
  .u-section-1 .u-menu-1 {
	margin: 45px 0 0 auto;
  }
  
  .u-section-1 .u-nav-2 {
	font-size: 1.25rem;
  }
  
  .u-section-1 .u-image-1 {
	width: 144px;
	height: 144px;
	background-image: url("images/1696966023940.jpg");
	background-position: 50% 50%;
	box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
	margin: 13px auto 0;
  }
  
  .u-section-1 .u-text-1 {
	font-size: 2.25rem;
	font-weight: 700;
	margin: 24px auto 0;
  }
  
  .u-section-1 .u-text-2 {
	width: 622px;
	margin: 24px auto 0;
  }
  
  .u-section-1 .u-text-3 {
	font-weight: 400;
	margin: 24px 583px 0 337px;
  }
  
  .u-section-1 .u-text-4 {
	font-weight: 400;
	margin: -51px 328px 0 591px;
  }
  
  .u-section-1 .u-text-5 {
	width: 519px;
	margin: 24px auto 0;
  }
  
  .u-section-1 .u-btn-1 {
	background-image: none;
	padding: 0;
  }
  
  .u-section-1 .u-text-6 {
	font-weight: normal;
	width: 597px;
	margin: 33px auto 0;
  }
  
  .u-section-1 .u-btn-2 {
	background-image: none;
	margin: -26px auto 0 611px;
	padding: 0;
  }
  
  .u-section-1 .u-text-7 {
	font-weight: 700;
	width: 597px;
	margin: 33px auto 0;
  }
  
  .u-section-1 .u-image-2 {
	width: 50px;
	height: 50px;
	margin: 33px auto 0;
  }
  
  .u-section-1 .u-image-3 {
	width: 50px;
	height: 50px;
	margin: -50px auto 0 633px;
  }
  
  .u-section-1 .u-image-4 {
	width: 45px;
	height: 42px;
	margin: -46px auto 0 458px;
  }
  
  .u-section-1 .u-text-8 {
	width: 553px;
	margin: 44px auto 60px;
  }
  
  @media (max-width: 1199px) {
	.u-section-1 .u-menu-1 {
	  width: auto;
	  margin-top: 42px;
	}
  
	.u-section-1 .u-image-1 {
	  margin-top: -4px;
	}
  
	.u-section-1 .u-text-1 {
	  width: auto;
	  margin-top: 25px;
	}
  
	.u-section-1 .u-text-2 {
	  margin-top: 32px;
	}
  
	.u-section-1 .u-text-3 {
	  width: 454px;
	  margin-top: 52px;
	  margin-left: auto;
	  margin-right: auto;
	}
  
	.u-section-1 .u-text-4 {
	  width: auto;
	  margin-right: 191px;
	  margin-left: 488px;
	}
  
	.u-section-1 .u-text-5 {
	  margin-top: 50px;
	}
  
	.u-section-1 .u-text-6 {
	  margin-top: 54px;
	}
  
	.u-section-1 .u-btn-2 {
	  margin-left: 511px;
	}
  
	.u-section-1 .u-text-7 {
	  margin-top: 37px;
	}
  
	.u-section-1 .u-image-2 {
	  margin-top: 42px;
	}
  
	.u-section-1 .u-image-3 {
	  margin-left: 532px;
	}
  
	.u-section-1 .u-image-4 {
	  margin-left: 363px;
	}
  
	.u-section-1 .u-text-8 {
	  width: 597px;
	  margin-top: 50px;
	}
  }
  
  @media (max-width: 991px) {
	.u-section-1 .u-sheet-1 {
	  min-height: 1394px;
	}
  
	.u-section-1 .u-menu-1 {
	  margin-top: 35px;
	}
  
	.u-section-1 .u-image-1 {
	  margin-top: 25px;
	}
  
	.u-section-1 .u-text-1 {
	  margin-top: 31px;
	}
  
	.u-section-1 .u-text-2 {
	  width: auto;
	  margin-top: 29px;
	  margin-left: 49px;
	  margin-right: 49px;
	}
  
	.u-section-1 .u-text-3 {
	  width: auto;
	  margin-top: 41px;
	  margin-right: 200px;
	  margin-left: 128px;
	}
  
	.u-section-1 .u-text-4 {
	  margin-top: -52px;
	  margin-right: 126px;
	  margin-left: 373px;
	}
  
	.u-section-1 .u-text-5 {
	  margin-top: 30px;
	}
  
	.u-section-1 .u-text-6 {
	  width: auto;
	  margin-top: 32px;
	  margin-left: 62px;
	  margin-right: 62px;
	}
  
	.u-section-1 .u-btn-2 {
	  margin-right: 223px;
	  margin-left: auto;
	}
  
	.u-section-1 .u-text-7 {
	  width: auto;
	  margin-top: 36px;
	  margin-left: 62px;
	  margin-right: 62px;
	}
  
	.u-section-1 .u-image-2 {
	  margin-top: 35px;
	}
  
	.u-section-1 .u-image-3 {
	  margin-right: 247px;
	  margin-left: auto;
	}
  
	.u-section-1 .u-image-4 {
	  margin-left: 252px;
	}
  
	.u-section-1 .u-text-8 {
	  width: auto;
	  margin-top: 42px;
	  margin-left: 31px;
	  margin-right: 31px;
	}
  }
  
  @media (max-width: 767px) {
	.u-section-1 .u-menu-1 {
	  margin-top: 38px;
	}
  
	.u-section-1 .u-image-1 {
	  margin-top: 11px;
	}
  
	.u-section-1 .u-text-2 {
	  margin-right: 0;
	  margin-left: 0;
	}
  
	.u-section-1 .u-text-3 {
	  margin-top: 40px;
	  margin-right: 270px;
	  margin-left: 40px;
	}
  
	.u-section-1 .u-text-4 {
	  margin-top: -51px;
	  margin-right: 40px;
	  margin-left: 278px;
	}
  
	.u-section-1 .u-text-5 {
	  width: auto;
	  margin-top: 24px;
	  margin-left: 11px;
	  margin-right: 11px;
	}
  
	.u-section-1 .u-text-6 {
	  margin-top: 26px;
	  margin-left: 0;
	  margin-right: 0;
	}
  
	.u-section-1 .u-btn-2 {
	  margin-right: 131px;
	}
  
	.u-section-1 .u-text-7 {
	  margin-left: 0;
	  margin-right: 0;
	}
  
	.u-section-1 .u-image-2 {
	  margin-top: 32px;
	}
  
	.u-section-1 .u-image-3 {
	  margin-right: 166px;
	}
  
	.u-section-1 .u-image-4 {
	  margin-left: 171px;
	}
  
	.u-section-1 .u-text-8 {
	  margin-top: 50px;
	  margin-left: 8px;
	  margin-right: 8px;
	}
  }
  
  @media (max-width: 575px) {
	.u-section-1 .u-sheet-1 {
	  min-height: 1549px;
	}
  
	.u-section-1 .u-menu-1 {
	  margin-top: 35px;
	}
  
	.u-section-1 .u-image-1 {
	  margin-top: -3px;
	}
  
	.u-section-1 .u-text-1 {
	  font-size: 1.875rem;
	  margin-top: 17px;
	}
  
	.u-section-1 .u-text-2 {
	  margin-top: 23px;
	}
  
	.u-section-1 .u-text-3 {
	  margin-top: 17px;
	  margin-right: 28px;
	  margin-left: 0;
	}
  
	.u-section-1 .u-text-4 {
	  margin-top: 0;
	  margin-right: 78px;
	  margin-left: 0;
	}
  
	.u-section-1 .u-text-5 {
	  margin-top: 17px;
	  margin-left: 0;
	  margin-right: 0;
	}
  
	.u-section-1 .u-text-6 {
	  margin-top: 19px;
	}
  
	.u-section-1 .u-btn-2 {
	  margin-right: 28px;
	}
  
	.u-section-1 .u-text-7 {
	  margin-top: 25px;
	}
  
	.u-section-1 .u-image-2 {
	  margin-top: 42px;
	}
  
	.u-section-1 .u-image-3 {
	  margin-right: 70px;
	}
  
	.u-section-1 .u-image-4 {
	  margin-left: 76px;
	}
  
	.u-section-1 .u-text-8 {
	  margin-top: 44px;
	  margin-left: 0;
	  margin-right: 0;
	}
  }